* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 40px !important;
}

#services {
    text-align: center;
    box-shadow: 0 15px 10px -10px #8c8b8b inset;
}

#services i {
    color: #ffde59;
    font-size: 40px;
    padding-bottom: 8px;
}

#services p {
    text-align: left;
}


/* navbar */

.navbar-nav {
    margin-right: 0 !important;
    padding-right: 100px;
}

.navbar {
    background-color: #737373;
    color: white !important;
}

.nav-item a {
    color: white;
}


.nav-item {
    padding-left: 2px;
}

.navbar-brand {
    color: black !important;
    padding-left: 100px;
}

#navbarSupportedContent {
    padding-left: 100px;
}

.logo {
    height: 50px;
    width: auto;
    margin: 5px;
}

#banner-container {
    background-color: white;
    color:white;
    padding: 0;
}

.hero {
    width: 100%;
    height: auto;
    display: block;
}

#about {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color:#ffde59;
}

.about_pic {
    width: 100%;
    padding-bottom: 20px;
    margin-top: -10px;
    align-items: center;
    height: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

/* media */

@media only screen and (max-width: 987px) {
    .navbar-brand {
        padding-left: 0px;
    }

    .about_pic {
        width: 100%;
        height: auto;
    }
}

/* Contact Form */

#contact {
    text-align: center;
    background-color: lightgray;
    padding-top: 20px;
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

form input {
    margin-bottom: 10px;
    border-radius: 15px;
    border: lightgray;
    padding: 8px;
    width: 100%;
}

form textarea {
    margin-bottom: 10px;
    border-radius: 15px;
    border: lightgray;
    padding: 8px;
    width: 100%;
}

form label {
    padding-bottom: 3px;
}

.contact-form {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
}

form button {
    background-color: #38b6ff;
    padding: 10px;
    border-radius: 15px;
    border: lightgray;
}

#required_txt {
    color:red;
    font-size: 12px;
    padding-top: 3px;
}

/* footer */

footer {
    text-align: center;
    font-size: 12px;
    background-color: #737373;
    padding-top: 25px;
    padding-bottom: 25px;
}
